body {
    text-align: center;
}

h1 {
    padding: 30px 350px 5px;
    font-size: 70px;
}

img {
    padding: 1% 5px;
}

input {
    padding: 3px 10px    
}

.letra {
    padding-right: 110px;
}

.vida {
    padding-right: 200px;
}

.box {
    
    border: 2px solid #000;
}
