body {
    text-align: center;
}

h1 {
    padding: 10px 350px 5px;
    font-size: 70px;
}

img {
    padding: 1% 1% 0px;
}

.word {
    padding-top: 1px;
}

input {
    padding: 3px 10px   
}

.letra {
    padding-right: 800px;
}

#icon{
    position: absolute;
    display: block;
    bottom: .5rem;
    right: 1rem;
    
    user-select: none;
    cursor: pointer;
}

input.input{
    padding-right: 2.5rem;
}

.vida {
    padding-right: 900px;
}

.box {
    
    border: 2px solid #000;
}
